body{
	background: url(../images/1357477.png);
}
h3.text-muted{
	color: #fff;
	font-size: 48px;
	background-color: #393939;
}

body { 
	height: 100%;
	overflow-y: hidden;
}

#bomb {
    width: 320px;
    height: 240px;
    position : absolute;
    top : 50%;
    left : 64%;
    margin-top : -120px;
    margin-left: -160px;
    background-image: url("../images/bomber-eee.png");
         
    -webkit-animation: play 2s steps(20) infinite;
    -moz-animation: play 2s steps(20) infinite;

}
 
@-webkit-keyframes play {
    from { background-position: 0px; }
    to { background-position: -6400px; }
}
 
@-moz-keyframes play {
    from { background-position: 0px; }
    to { background-position: -6400px; }
}